<div class="modal fade" id="addVitalDocumentModalCenter" tabindex="-1" role="dialog" aria-labelledby="addVitalDocumentModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          
          <div class="modal-header">
            <h5 class="modal-title" id="addVitalDocumentModalLongTitle">Add Document: </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          
          <div class="modal-body">
            <%= form_for :user_vital_documents, url: {action: "create"} , :html => { :id => "vital-documents-create-form", :method => :post}, :remote => true do |p| %>
              <%= p.hidden_field :user_id, :value => current_user.id %>
              
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">Document Type:</label>
                </div>
                  <%= p.select :document_type, VitalDocument.document_types.keys, {:include_blank => true}, { :class => "custom-select", :id => "inputGroupSelect01", :onchange => "handleSelectChange(event)"} %>
              </div>

              <div id="formAppear">

                <div id="identity_card" style="display: none;">
                  <%#= p.label :first_name, "First Name:" %>
                  <%#= p.text_field :first_name, :class => "form-control" %>
                  
                  <%#= p.label :middle_name, "Middle Name:" %>
                  <%#= p.text_field :middle_name, :class => "form-control" %>
                  
                  <%#= p.label :last_name, "Last Name:" %>
                  <%#= p.text_field :last_name, :class => "form-control" %>
                  
                  <%#= p.label :issue_date, "Date of Document Issue:" %>
                  <%#= p.date_select(:issue_date, :start_year => 1900) %>

                  <%= p.label :expiration_date, "Date of Document Expiry:" %>
                  <%= p.date_select(:expiration_date, :start_year => 1900)  %>

                  <%#= p.label :place_of_issue, "City or Place of Document Issuance:" %>
                  <%#= p.text_field :place_of_issue, :class => "form-control" %>

                  <%= p.label :country_of_issue, "Country of Document Issuance:" %>
                  <%= p.text_field :country_of_issue, :class => "form-control" %>

                  <%= p.label :paperwork_location, "Where This Document is Stored:" %>
                  <%= p.text_field :paperwork_location, :class => "form-control" %>

                  <%= p.label :instructions, "Instructions:" %>
                  <%= p.text_field :instructions, :class => "form-control" %>

                  <%= p.label :doc_upload, "Upload Document(s):" %>
                  <%= p.file_field :doc_upload %>
                </div> 

                <div id="driver_license" style="display: none;">
                  Driver License
                </div> 

                <div id="passport" style="display: none;">
                  <%= p.text_field :first_name, :class => "form-control" %>
                  <%= p.text_field :middle_name, :class => "form-control" %>
                  <%= p.text_field :last_name, :class => "form-control" %>
                </div> 

                <div id="birth_certificate" style="display: none;">
                  <%= p.text_field :first_name, :class => "form-control" %>
                  <%= p.text_field :middle_name, :class => "form-control" %>
                  <%= p.text_field :last_name, :class => "form-control" %>
                  <%= p.date_select(:issue_date, :start_year => 1900) %>
                  <%= p.text_field :country_of_issue, :class => "form-control" %>
                  <%= p.text_field :paperwork_location, :class => "form-control" %>
                  <%= p.text_field :instructions, :class => "form-control" %>
                  <%= p.file_field :doc_upload %>
                </div> 

                <div id="work_permit_or_visa" style="display: none;">
                  Work Permit
                </div> 

                <div id="military_identity_card" style="display: none;">
                  Military IC
                </div> 

                <div id="police_identity_card" style="display: none;">
                  Police IC
                </div> 

              </div>

              <div class="modal-footer">
                <%= p.submit "Save", class: "btn btn-primary" %>
             </div>
            <% end %>
          </div>
          
      </div>
    </div>
  </div>


  <!-- https://stackoverflow.com/questions/23686265/saving-enum-from-select-in-rails-4-1/23686698 -->
  <!-- https://stackoverflow.com/questions/4081907/ruby-on-rails-form-for-select-field-with-class -->