<div class="modal fade" id="addVitalDocumentModalCenter" tabindex="-1" role="dialog" aria-labelledby="addVitalDocumentModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          
          <div class="modal-header">
            <h5 class="modal-title" id="addVitalDocumentModalLongTitle">Add Document: </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          
          <div class="modal-body">
            <%= form_for :user_vital_documents, url: {action: "create"} do |p| %>
              <%= p.hidden_field :user_id, :value => @current_user.id %>
              
              <div class="form-row">
                <div class="form-group col-md-6"> 
                  First Name: <%= p.text_field :first_name, :class => "form-control" %> 
                </div> <br/>
                <div class="form-group col-md-6"> 
                  Last Name: <%= p.text_field :last_name, :class => "form-control" %> 
                </div><br/>
              </div>

              <div class="form-group"> 
                Email: <%= p.text_field :email, :class => "form-control" %> 
              </div>

              <div class="form-group"> 
                Phone: <%= p.text_field :phone_number, :class => "form-control" %> 
              </div>

              <div class="form-group"> 
                Address: <%= p.text_field :address, :class => "form-control"%> 
              </div>

              <div class="form-row">
                <div class="form-group col-md-6"> 
                  City: <%= p.text_field :city, :class => "form-control" %>
                </div>
                <div class="form-group col-md-6"> 
                  Postcode: <%= p.text_field :postcode, :class => "form-control" %>
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-6"> 
                  Birthdate: <%= p.text_field :birthdate, :class => "form-control" %>
                </div>
                <div class="form-group col-md-6"> 
                  Relationship: <%= p.text_field :relationship, :class => "form-control" %>
                </div>
              </div>
              <div class="form-group"> 
                Notes: <%= p.text_field :notes, :class => "form-control"%> 
              </div>
          </div>
          
          <div class="modal-footer">
            <%= p.submit "Submit", class: "btn btn-primary"%>
          <% end %>
          </div>

      </div>
    </div>
  </div>


  <!-- https://stackoverflow.com/questions/11374897/form-tag-with-remote-true-does-not-make-an-ajax-request/11375055?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa -->