<div class="container pt-4">
  <h5> Register for Memento Mori here: </h5>
  <div class="p-3">
    <div id="register-box">
      <%= form_for @user, url: {action: "create"} do |p| %>
        <%#= p.hidden_field :user_id, :value => current_user.id %>
          <div class="text-field">
            <%= p.label :email %>
            <%= p.text_field :email, type: 'email' %>
          </div>

          <div class="text-field">
            <%= p.label :first_name %>
            <%= p.text_field :first_name %>
          </div>

          <div class="text-field">
            <%= p.label :last_name %>
            <%= p.text_field :last_name %>
          </div>

          <div class="password-field">
            <%= p.label :password %>
            <%= p.password_field :password %>
          </div>

          <!-- <div class="radio-button"> -->
            <%#= p.label :testator %>
            <%#= p.radio_button :testator %>
          <!-- </div> -->

          <div class="button-field">
            <%= p.submit "Sign Up" %>
          </div>
        <% end %>
    </div>
  </div>