<div class="card-columns">
<% @contacts.each do |contact| %> 
      <div class="card text-center" style="width: 18rem;">
        <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
        
        <div class="card-body">
          <h5 class="card-title text-center"> <%= contact.first_name %> <%= contact.last_name %> </h5>
          <p class="card-text  text-center"> <%= contact.relationship %> </p>
        </div>

        <ul class="list-group list-group-flush">
          <li class="list-group-item text-center"> <%= contact.phone_number %> </li>
          <li class="list-group-item text-center"> <%= contact.email %> </li>
          <li class="list-group-item text-center"> <%= contact.city %> </li>
        </ul>

        <div class="card-body">
          <a href="<%= user_contact_path(contact[:id], @current_user) %>" class="card-link">Show Details </a>
          <a href="<%= edit_user_contact_path(contact[:id], @current_user) %>" class="card-link">Edit Details </a>
        </div>
      </div>
  <% end %>
</div>