<%if @current_user %>
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a href="#">
                Memento Mori
            </a>
            <br/>
        </li>
        <li>
            <h4 class="category-text"> <b><%= @current_user.role %> view</b> </h4>
        </li>
        <li>
            <a href="<%= dashboard_path(@current_user) %>">Dashboard  <span class="coming-soon-text"> (coming soon) </span></a>
        </li>
        <br/>
        <% if @current_user.testator? %>
            <li>
                <b class="category-text">My Life </b>
            </li>
             <li>
                <a href="<%=user_vital_documents_path(@current_user) %>"> Identification </a>
            </li>
            <li>
                <a href="#" onclick="return false;">Properties <span class="coming-soon-text"> (coming soon) </span></a>
            </li>
            <li>
                <a href="#" onclick="return false;">Health <span class="coming-soon-text"> (coming soon) </span></a>
            </li>
            <li>
                <a href="#" onclick="return false;">Financial <span class="coming-soon-text"> (coming soon) </span></a>
            </li>
            <br/>
        <% end %>
        <li>
            <b  class="category-text">Connect</b>
        </li>
        <li>
            <a href="<%=user_contacts_path(@current_user)%>">Contacts</a>
        </li>
        <li>
            <a href="<%=user_deputies_path(@current_user)%>">Deputies</a>
        </li>
        <li>
            <a href="<%=advisory_path(@current_user)%>">Advisory</a>
        </li>
    </ul>
  </div>
<% end %>


<!-- https://github.com/BlackrockDigital/startbootstrap-simple-sidebar -->
<!-- https://github.com/theisaac95/medex/blob/master/app/views/layouts/_dashboard.html.erb -->
<!-- https://github.com/theisaac95/medex/blob/master/app/assets/stylesheets/dashboard.scss -->







