<!DOCTYPE html>
<html>
  <head>
    <title>Memento Mori</title>
    <%= csrf_meta_tags %>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <!-- Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- App -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  
  </head>

  <body>

    <!-- NavBar -->
    <%= render partial: 'layouts/navbar' %>

    <!-- Wrapper -->
    <div id="wrapper">
    
        <!-- Sidebar -->
        <%= render partial: 'layouts/sidebar' %>

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">

            <br/>
            <br/>

            <!-- Flash notice -->
            <div id="flash flash-position">
              <% flash.each do |key, value| -%>
                <div class="alert alert-<%= key %> alert-dismissible" role="alert"> 
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                 <%=h value %> </div>
              <% end %>
            </div>
            
        <!-- Hamburger Menu Toggle -->
            <% if current_user %>
                <a href="#menu-toggle" id="menu-toggle" class="hamburger" >
                    <%= image_submit_tag ('hamburger.png'), id: "hamburger" %>
                </a>
            <% end %>

        <!-- Main Content -->
            <%= yield %>
            
            </div>
        </div>

    </div>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

  </body>
</html>
